:root, body, input, select, textarea, button {
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

  font-size: calc(1rem + 0.5vw);
}

select,
textarea,
button {
  font-size: .5em;
}

.palette-viz {
  display: block;
  image-rendering: pixelated;
}

h1, h2, h3, label {
  margin: 0;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.app {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50vw;
  max-height: 100%;
}

.sidebar__palette {
  overflow-y: scroll;
  flex: 1 1 auto;
}

.sidebar__tools {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}

.sidebar__tools label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.palette__color {
  background: var(--color);
}

.viz {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  gap: .5rem;
  .palette-viz {
    width: calc(33.3333% - .5rem) !important;
    aspect-ratio: 1;
    height: auto !important;
  }
}

.shader-select,
.axis-select {
  display: none;
}

label {
  font-size: .5em;
}